$font-stack:    Helvetica, sans-serif;
$primary-color: #F9F9F9;
$secondary-color: #BBDEFB;

@import 'nav';

body {
  font: $font-stack;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: $primary-color;
}

main {
  flex: 1 0 auto;
}

.parallax img {
  width: 1169px;
  -webkit-filter: grayscale(50%); /* Safari */
  filter: grayscale(50%);
}
