body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
#logo-container {
  top: 5;
}
#logo-img {
  height: 80%;
  width: 80%;
  object-fit: contain;
}
.parallax img {
  width: 1169px;
}
